package home

import "github.com/golang_starter/views/layouts"

templ Index() {
	@layouts.Base() {
		<div class="text-xl text-blue-500">
			<h1>Testing Home</h1>
			<div id="output" data-module="module"></div>
			<button id="load-module-button">Load Module</button>
		</div>
	}
}
